//tipografia
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
$fuente-principal:'Teko', sans-serif;


//colores
$grisOscuro: #1b263b ;
$blanco: #f7f7ff;
$naranja: #eb5e28;
$rojo: #e01e37;
